{% if apache_virtualhost_lines %}
  {% for line in apache_virtualhost_lines %}
    {{ line }}
  {% endfor %}
{% endif %}

{% if apache_virtualhost_docroot %}
DocumentRoot {{apache_virtualhost_docroot}}
{% else %}
# Be sure to point to 'public'!
DocumentRoot /opt/{{project_name}}/current/public
{% endif %}

<Directory /opt/{{project_name}}/current/public>
  RackEnv {{passenger_app_env}}
  PassengerRuby /usr/local/rvm/gems/{{ruby}}/wrappers/ruby
  PassengerMinInstances {{ passenger_min_instances }}
  # Relax Apache security settings
  AllowOverride all
  Options FollowSymLinks
  Require all granted
  # MultiViews must be turned off
  Options -MultiViews
</Directory>
